<ng-container *init="let myvar of 'LOL'">
    {{ myvar }}
</ng-container>


<ng-template #fetchUser let-username>
    <ng-container *http="let user get 'https://api.github.com/users/' + username">
        <ng-container *ngIf="user">
            <ng-container *return="user"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #getFieldOrgUrl let-user>
    <ng-container *return="user['organizations_url']"></ng-container>
</ng-template>

<ng-template #fetchOrg let-url>
    <ng-container *http="let org get url">
        <ng-container *ngIf="org">
            <ng-container *return="org"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-container *compose="
    let org of [
        fetchUser,
        getFieldOrgUrl,
        fetchOrg
    ] use 'thekiba'
">
    {{ org | json }}
</ng-container>